/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/Gemfile.lock
/.idea
/lib/expressir/express_exp/generated/*.interp
/lib/expressir/express_exp/generated/*.tokens

# rspec failure tracking
.rspec_status
