/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/Gemfile.lock
/.idea
/grammar/.antlr
/grammar/*.class
/grammar/*.interp
/grammar/*.tokens

# rspec failure tracking
.rspec_status
