/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/Gemfile.lock
/.idea
/lib/express_parser.bundle
/original/examples/syntax/*-pretty.exp

# rspec failure tracking
.rspec_status

/ext/express-parser/rice-embed
